x-django-api: &django-api
  build:
    context: ./backend
    dockerfile: Dockerfile
  depends_on:
    - postgres

services:

  # PostgreSQL database
  postgres:
    image: postgres:17.6-bookworm
    container_name: postgres
    ports:
      - "5432:5432"
    restart: unless-stopped
    environment:
      POSTGRES_DB: arx_db
      POSTGRES_USER: arx_user
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data/

  # Redis as message broker
  redis:
    image: redis:8.2.1-alpine
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  # Django backend
  backend:
    <<: *django-api
    container_name: backend
    ports:
      - "8000:8000"
    entrypoint: ["/app/entrypoint.sh"]
    volumes:
      - ./backend:/app/
    restart: unless-stopped

  # Celery for tasks
  celery:
    <<: *django-api
    container_name: celery
    command: celery -A app worker --loglevel=info
    volumes:
      - ./backend:/app/

  # React frontend
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: unless-stopped
    environment:
      - VITE_API_URL=http://127.0.0.1:8000
    ports:
      - "8080:8080"
    volumes:
      - ./frontend:/app/
      - frontend_node_modules:/app/node_modules

  # Nginx reverse proxy
  nginx:
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
    depends_on:
      - backend
      - frontend
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  pgdata:
  frontend_node_modules:
