x-django-api: &django-api
  build:
    context: ./backend
    dockerfile: Dockerfile
  depends_on:
    - postgres
    - redis

services:

  # PostgreSQL database
  postgres:
    image: postgres:17.6-bookworm
    container_name: postgres
    ports:
      - "127.0.0.1:5432:5432"
    restart: unless-stopped
    environment:
      POSTGRES_DB: arx_db
      POSTGRES_USER: arx_user
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data/
    networks: [internal]

  # Redis as message broker
  redis:
    image: redis:8.2.1-alpine
    container_name: redis
    ports:
      - "127.0.0.1:6379:6379"
    restart: unless-stopped
    networks: [internal]

  # Django backend
  backend:
    <<: *django-api
    container_name: backend
    ports:
      - "127.0.0.1:8000:8000"
    entrypoint: ["/app/entrypoint.sh"]
    restart: unless-stopped
    networks: [internal, web]

  # Celery for tasks
  celery:
    <<: *django-api
    container_name: celery
    command: celery -A app worker --loglevel=info
    restart: unless-stopped
    networks: [internal]

  # Nginx + frontend production ready
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
    volumes:
      - ./data/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./data/certbot/conf:/etc/letsencrypt:ro
      - ./data/certbot/www:/var/www/certbot:ro
    networks: [web]
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  # Certbot image for renewing ssl certificates
  # This is fine for both production and development
  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: sh -c "trap exit TERM; while :; do certbot renew --webroot -w /var/www/certbot --quiet; sleep 12h & wait $!; done" # This enables certbot to automatically renew certificates when expired (perfirms check every 12 hours)
    networks: [web]

volumes:
  pgdata:
  frontend_node_modules:

networks:
  internal:
  web:

# Tutorial for let's encrypt with nginx and docker compose: https://pentacent.medium.com/nginx-and-lets-encrypt-with-docker-in-less-than-5-minutes-b4b8a60d3a71